<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${session.time}"></h1>

    <form action="#" th:action="@{/users}" th:object="${users}" method="post">
        <label>Email :
            <input type="text" th:field="*{email}">
        </label>
        <br>
        <label>Confirm email :
            <input type="text">
        </label>
        <br>
        <label>Password :
            <input type="password" th:field="*{password}">
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>